<!DOCTYPE html>
<html>
    <head>
        <title>ระบบบริหารสต๊อกสินค้าออนไลน์ </title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrpcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    </head>
    <body>
        <h1>โปรแกรมบริหารสต๊อกสินค้าออนไลน์</h1>
        <div class="menu">
            <a href="/home" class="btn">
                <i class="fa fa-home"></i> Home
            </a>
            <a href="/product" class="btn">
                <i class="fa fa-th"></i> สินค้า
            </a>
            <a href="/importStock" class="btn">
                <i class="fa fa-arrow-down"></i> รับเข้าสต๊อก
            </a>
            <a href="/outStock" class="btn">
                <i class="fa fa-arrow-up"></i> เบิกสินค้าออก
            </a>
            <a href="/report" class="btn">
                <i class="fa fa-bar-chart"></i> รายงานสต๊อก
            </a>

        </div>